biopython
black
csvkit
csvchk
flake8
graphviz
iteration_utilities
mypy
new-py
pandas
pylint
pytest
pytest-flake8
pytest-mypy
pytest-pylint
requests
rich
tabulate
yapf
seqmagick

# required with setup.nix approach to cope with implicit dependencies from nixpkgs

aiohttp
bottleneck
setuptools-scm==5.0.2
